h1 Porfolio Items
p = link_to 'Create Portfolio', new_portfolio_path
p = link_to 'React', portfolios_react_path
p = link_to 'Ruby on Rails', portfolios_ruby_on_rails_path

= render partial:'portfolio_item', collection: @portfolio_items
  